<a href="/form">Agregar productos</a>
<link rel="stylesheet" href="index.css">
<script src= "/socket.io/socket.io.js"></script>

<section class="products products-table">
		{{#if getProd}}
			<h1>Lista de productos</h1>
		{{#each getProd}}
			<div class="product">							
			<div class="product-img">
							<img src={{this.imgUrl}} alt={{this.name}} WIDTH=64 HEIGHT=64>
						</div>							
					<div class="product-content">
						<h3>
							{{this.name}}
							<small>{{this.description}}</small>
						</h3>
						<p class="product-text price">${{this.price}}</p>
						<h5>Codigo: {{this.codebar}}</h4>
                        <button id="addToCart" saludar >Agregar al carrito</button>
						<div class="button-minimalist" id="del">X</div>
					</div>
					<br>						
					<hr>
				</div>
				{{/each}}
		{{else}}
			<div class="aviso">
				No hay productos para mostrar
			</div>
		{{/if}}

</section>				

<script>
		const socket = io()
		socket.on()
</script>

{{>msj}}